
.navbar-brand{
    color: grey;
    font-size: 32pt;
    font-weight: 900;
    text-decoration: underline crimson;
    text-shadow: 20px 30px 25px grey;  /*ombre*/
    font-style: italic;
   }

.navbar-nav, .navbar-nav url, .navbar-nav li, .navbar-nav a, .navbar-brand {
    height: calc(22pt + 45px);
}


#meme-creator>*{
    text-align: center;
    border:1px solid black;

}